node_modules/
coverage/
.DS_Store
dist/
samples-out
react-tests/
*debug.log
.vscode
local.log
public
.tmp*

# Ignore package-lock.json
# - we don't intent to force specific 3rd party dependency version via `package-lock.json` file
# Such information should be specified in the package.json file.
package-lock.json
